<h1>Editing Reservation</h1>

<div style="color: red">
  <%= flash[:warning] %>
</div>

<br>

<%= render "form", reservation: @reservation %>

<br>

<div>
  <%= link_to "Show Reservation", @reservation %>
  <br>
  <%= link_to "Back to Reservations", reservations_path %>
</div>
