<h1>New Reservation</h1>

<div style="color: red">
  <%= flash[:warning] %>
</div>

<br>

<%= render "form", reservation: @reservation %>


<br>

<div>
  <%= link_to "Back to Reservations", reservations_path %>
</div>
