<div id="<%= dom_id baggage %>">
  <p>
    <strong>Baggage:</strong>
    <%= baggage.baggage_id %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= baggage.weight %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= baggage.cost %>
  </p>

</div>
